# Midterm Web analytics

## Reading the Dataset and cleaning the complete dataset

### DATASET 1

In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('/Users/joelmendonsa/Desktop/Tableu/Midterm 2/Assignment1Data_Sample (2).csv')

In [3]:
df.head()

,Object Number,Object ID,Department,Object Name,Title,Culture,Period,Dynasty,Reign,Portfolio,...,Locale,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Metadata Date,Repository,Tags
0,62.16,1674,American Decorative Arts,Side Chair,Side Chair,American,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Furniture,NaN,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",Chairs
1,13.7.17,2430,American Decorative Arts,Pitcher,Covered Pitcher,American,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Ceramics,NaN,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",Pitchers
2,33.85.11,6406,American Decorative Arts,Plate,Plate,Dutch,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Ceramics,NaN,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",NaN
3,69.194.109,7616,American Decorative Arts,Soup bowl,Soup Bowl,American,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Ceramics,NaN,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",Bowls
4,2006.235.20,15012,American Decorative Arts,"Painting, miniature",Portrait of a Lady,American,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Paintings,NaN,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",Pendants|Portraits|Women

In [4]:
df.isnull().sum()

Object Number                0
Object ID                    0
Department                   1
Object Name                  1
Title                       10
Culture                    120
Period                     173
Dynasty                    195
Reign                      199
Portfolio                  196
Artist Role                 77
Artist Prefix              165
Artist Display Name         77
Artist Display Bio          96
Artist Suffix              199
Artist Nationality         117
Artist Begin Date          106
Artist End Date            107
Object Date                  5
Object Begin Date            0
Object End Date              2
Medium                       2
Dimensions                  38
Credit Line                  0
Geography Type             181
City                       190
State                      203
County                     201
Country                    172
Region                     186
Subregion                  192
Locale                     197
Locus                      200
Excavation                 197
River                      202
Classification              31
Rights and Reproduction    197
Link Resource                0
Metadata Date                0
Repository                   0
Tags                        93
dtype: int64

In [5]:
df.dtypes

Object Number               object
Object ID                    int64
Department                  object
Object Name                 object
Title                       object
Culture                     object
Period                      object
Dynasty                     object
Reign                       object
Portfolio                   object
Artist Role                 object
Artist Prefix               object
Artist Display Name         object
Artist Display Bio          object
Artist Suffix               object
Artist Nationality          object
Artist Begin Date           object
Artist End Date             object
Object Date                 object
Object Begin Date            int64
Object End Date            float64
Medium                      object
Dimensions                  object
Credit Line                 object
Geography Type              object
City                        object
State                       object
County                      object
Country                     object
Region                      object
Subregion                   object
Locale                      object
Locus                       object
Excavation                  object
River                       object
Classification              object
Rights and Reproduction     object
Link Resource               object
Metadata Date               object
Repository                  object
Tags                        object
dtype: object

In [6]:
df.fillna('Unknown', inplace=True)

/var/folders/c8/6w2372kx4cqg___pmmln1q4h0000gn/T/ipykernel_41709/2825310197.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('Unknown', inplace=True)

In [7]:
df.isnull().sum()

Object Number              0
Object ID                  0
Department                 0
Object Name                0
Title                      0
Culture                    0
Period                     0
Dynasty                    0
Reign                      0
Portfolio                  0
Artist Role                0
Artist Prefix              0
Artist Display Name        0
Artist Display Bio         0
Artist Suffix              0
Artist Nationality         0
Artist Begin Date          0
Artist End Date            0
Object Date                0
Object Begin Date          0
Object End Date            0
Medium                     0
Dimensions                 0
Credit Line                0
Geography Type             0
City                       0
State                      0
County                     0
Country                    0
Region                     0
Subregion                  0
Locale                     0
Locus                      0
Excavation                 0
River                      0
Classification             0
Rights and Reproduction    0
Link Resource              0
Metadata Date              0
Repository                 0
Tags                       0
dtype: int64

In [8]:
df.head()

,Object Number,Object ID,Department,Object Name,Title,Culture,Period,Dynasty,Reign,Portfolio,...,Locale,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Metadata Date,Repository,Tags
0,62.16,1674,American Decorative Arts,Side Chair,Side Chair,American,Unknown,Unknown,Unknown,Unknown,...,Unknown,Unknown,Unknown,Unknown,Furniture,Unknown,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",Chairs
1,13.7.17,2430,American Decorative Arts,Pitcher,Covered Pitcher,American,Unknown,Unknown,Unknown,Unknown,...,Unknown,Unknown,Unknown,Unknown,Ceramics,Unknown,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",Pitchers
2,33.85.11,6406,American Decorative Arts,Plate,Plate,Dutch,Unknown,Unknown,Unknown,Unknown,...,Unknown,Unknown,Unknown,Unknown,Ceramics,Unknown,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",Unknown
3,69.194.109,7616,American Decorative Arts,Soup bowl,Soup Bowl,American,Unknown,Unknown,Unknown,Unknown,...,Unknown,Unknown,Unknown,Unknown,Ceramics,Unknown,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",Bowls
4,2006.235.20,15012,American Decorative Arts,"Painting, miniature",Portrait of a Lady,American,Unknown,Unknown,Unknown,Unknown,...,Unknown,Unknown,Unknown,Unknown,Paintings,Unknown,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",Pendants|Portraits|Women

In [9]:
df.to_csv('Waterloo Museum of Art.csv', index=False)

### DATASET 2 Online sales

In [14]:
data = pd.read_csv('/Users/joelmendonsa/Desktop/Tableu/Midterm 2/Online_sales.csv')

### There are no missing values in the 2nd dataset

In [15]:
data.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64